
.custom-row {
	padding-bottom: 10px;
}

.custom-btn {
	//background: white;
	color: white;
}

label input[type=radio]{
	display: none;
}

.inner-cover {
	width: 99%;
	height: 350px;
	margin-top: 30px;
}

.masthead {
	position:initial;
}

.mastfoot {
	position: relative;
	bottom: 0;
}

.middle-frame{
	max-height: 330px;
	overflow-y: scroll;
}

html, body {
	height: 100%;
	background-color: #E3E6E0;
}

.masthead-nav > .active > a, .masthead-nav > .active > a:hover, .masthead-nav > .active > a:focus {
	//color: black;
	//border-bottom-color: black;
}